.album-img {
    filter: grayscale(100%);
    transition: 1s;
}

.album-img:hover {
    filter: grayscale(0);
}

/* Responsive for mobile device */
@media only screen and (max-width: 576px) {
    .album-title {
        font-size: 35px;
    }
}

/* Responsive for other device */
@media only screen and (min-width: 576px) {
    .album-title {
        font-size: 50px;
    }
}