.reset-pass {
    cursor: pointer;
}


@media only screen and (min-width: 576px) {
    .form-container {
        width: 50%;
    }
}

@media only screen and (max-width: 576px) {
    .form-container {
        width: 100%;
    }
}